.section1 {
  overflow: hidden;
  display: flex;
  position: relative;
  background: url("./images/bg_01.jpg") no-repeat center top;
  background-size: cover;
  box-shadow: 0px 19px 41px -15px rgba(0, 0, 0, 0.75);
  justify-content: center;
}
.body-container {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 5% 0 5%;
}
.caffe-beans1 {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
}
.caffe-beans2 {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
}
.girls {
  flex-basis: 30%;
  position: relative;
}
.girls > img {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: -50px;
}

.body-poster {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 70%;
  flex-grow: 1;
  padding-bottom: 100px;
  z-index: 3;
}
.body-poster > h3,
a {
  direction: rtl;
  font-size: 3.5em;
  line-height: 1;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  color: #5d422d;
  margin-top: 20px;
  text-decoration: none;
}
.body-poster > h2 {
  font-size: 5em;
  line-height: 1;
  font-weight: 800;
  color: #89b92f;
}
.body-poster > h1 {
  font-size: 6em;
  line-height: 0.8;
  font-weight: 900;
  font-style: italic;
  color: #5d422d;
  direction: rtl;
  margin-top: 15px;
}
.fast_eff {
  display: inline-block;
  margin-top: 15px;
  border-radius: 10px;
  padding: 5px 20px;
  background: #7bb81f;
  transform: skew(-20deg);
}
.fast_eff > h4 {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 3px;
  color: #795940;
}
.fast_item {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.fast_item > li {
  position: relative;
  flex-basis: 50%;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  color: #5b402b;
  padding: 5px 55px 5px 0;
  margin: 0 0 20px;
  direction: rtl;
}
.fast_item > li::before {
  content: "";
  position: absolute;
  right: 4px;
  top: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #7cbb24 url("./images/check_03.png") no-repeat center;
}
.fast_item > li > p {
  font-size: 0.8em;
  color: #837a75;
  margin-top: 4px;
}
.prod-info-box {
  display: flex;
  flex-wrap: wrap;
}
.prod-info-img {
  position: relative;
  flex-basis: 60%;
}
.prod-info-img > img {
  width: 100%;
}
.prod-info-price {
  flex-basis: 40%;
  display: block;
  text-align: center;
}
.prod-info-price > h5 {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  color: #3f342b;
  margin-bottom: 10px;
}
.price_box {
  font-size: 2em;
  color: #3f342b;
}
.price_box > span {
  font-size: 2em;
}
.order-button {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  min-width: 150px;
  cursor: pointer;
  text-align: center;
  color: #fff !important;
  font-size: 2em;
  font-family: "Harmattan", sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  transition: 0.3s;
  text-decoration: none;
  background: linear-gradient(180deg, #ff6600 0%, #c44409 80%);
  border: none;
  border-bottom: 5px solid #722501;
  border-radius: 5px;
  padding: 3px 10px;
}
.order-button:hover {
  box-shadow: 0 0 0px 6px rgba(255, 255, 255, 0.6);
  min-width: 160px;
}

@media screen and (max-width: 639px) {
  .body-container {
    padding-top: 20px;
  }
  .girls {
    display: none;
  }
  .body-poster {
    align-items: center;
    flex-basis: 100%;
    text-align: center;
  }
  .body-poster > h3,
  a {
    font-size: 2em;
  }
  .body-poster > a {
    margin-top: 50px;
  }
  .body-poster > h2 {
    font-size: 2em;
  }
  .body-poster > h1 {
    font-size: 3em;
  }
  .fast_eff > h4 {
    font-size: 1.4em;
  }
  .prod-info-img {
    margin: 10px 0;
    flex-basis: 100%;
  }
  .prod-info-price {
    flex-basis: 100%;
  }
  .fast_item > li {
    flex-basis: 100%;
  }
}
